<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
        <table width="100%" border="0">
          <tbody>
            <tr style="font-size:40px;">
              <td style="font-family:Arial; text-align:center">Location Tracker</td>
            </tr>
          </tbody>

        </table>
        <table width="100%" border="0">
          <tbody>
            <tr style="font-size:20px; font-family:Arial; text-align:center">
                <td><a href="index">Home&nbsp;</a></td>
                <td><a href="recent_runs">Recent Runs&nbsp;</a></td>
                <td><a href="about">About&nbsp;</a></td>
            </tr>
          </tbody>
        </table>
        <br>
        <table width="100%" border="0">
          <tbody>
            <tr style="font-size:20px; font-family:Arial; text-align:center">
              <td>About&nbsp;</td>
            </tr>
          </tbody>
        </table>

        <table width="450" border="0">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
    </body>
</html>
