<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
</head>
<body>
<table width="100%" border="0">
  <tbody>
    <tr style="font-size:40px;">
      <td style="font-family:Arial; text-align:center">Location Tracker</td>
    </tr>
  </tbody>
  
</table>
<table width="100%" border="0">
  <tbody>
    <tr style="font-size:20px; font-family:Arial; text-align:center">
		<td><a href="index">Home</a></td>
		<td><a href="recent_runs">Recent Runs</a></td>
		<td><a href="about">About</a></td>
    </tr>
  </tbody>
</table>
<br>	
<table width="100%" border="0">
  <tbody>
    <tr style="font-size:20px; font-family:Arial; text-align:center">
      <td>How To Start!</td>
    </tr>
  </tbody>
</table>

<table width="100%" border="0">
  <tbody style="font-size:15px; font-family:Arial; text-align:center">
    <tr>
      <td><center><img src="static/image1.png" width="250" height="444.666667"></center></td>
      <td><center><img src="static/image2.png" width="250" height="444.666667"></center></td>
      <td><center><img src="static/image3.png" width="250" height="444.666667"></center></td>
      <td><center><img src="static/image4.png" width="250" height="444.666667"></center></td>
    </tr>
    <tr>
      <td>To set up, first download the app "OwnTracks" from IOS App Store or Android Google Play</td>
      <td>Then you must enable the location tracking services for app.</td>
      <td>Upon reaching the main page in the image, to set up the streaming service, you must go to the settings menu, indicated by "i" in the top left corner.</td>
      <td>After that, tap the settings button and change the parameters to match the ones in the image.</td>
      
    </tr>
  
  </tbody>
</table>
<table width="100%" border="0">
  <tbody style="font-size:15px; font-family:Arial; text-align:center">
    <tr>
      <td><center><img src="static/image5.png" width="250" height="444.666667"/></center></td>
      <td><center><img src="static/image6.png" width="250" height="444.666667"/></center></td>
      </tr>
    <tr>
      <td>Now go back to the main page and change the data capturing mode to "move mode", indicated by 2 arrows.</td>
      <td>Once done, you must open the "Subsriber" file on your computer from where you have downloaded it, using python 3</td>
    </tr>
  </tbody>    
</table>
<br>
<table width="100%" border="0">
  <tbody style="font-size:15px; font-family:Arial; text-align:center">
    <tr>
        <td>That concludes the set up. For the calories burned graph to be more accurate, only have the OwnTracks app open while doing a run and close it after finishing.</td>
    </tr>
  </tbody>
</table>
</body>
</html>
