<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>home</title>
</head>
<body>
<table width="950" border="0">
  <tbody>
    <tr style="font-size:40px;">
      <td style="font-family:Arial;">Locaton Tracker</td>
    </tr>
  </tbody>
  
</table>
<table width="450" border="0">
  <tbody>
    <tr style="font-size:20px; font-family:Arial;">
		<td><a href="index">Home</a></td>
		<td><a href="recent_runs">Recent Runs</a></td>
		<td><a href="about">About</a></td>
    </tr>
  </tbody>
</table>
	
<table width="450" border="0">
  <tbody>
    <tr style="font-size:20px; font-family:Arial; text-align:center">
      <td>How To Start!</td>
    </tr>
  </tbody>
</table>

<table width="1250" border="0">
  <tbody style="font-size:15px; font-family:Arial;">
    <tr>
      <td style="width100% height450px"><img src="static/image1.png" style="width: 100%; height: 100%;"></td>
      <td><img src="static/image2.png" width="250" height="444.666667"></td>
      <td><img src="static/image3.png" width="250" height="444.666667"></td>
      <td><img src="static/image4.png" width="250" height="444.666667"></td>
      <td><img src="static/image5.png" width="250" height="444.666667"></td>
    </tr>
    <tr>
      <td>To use the location tracker with an iPhone you will first need to download OwnTracks.</td>
      <td>Once you have downloaded the app and opened it you will be presented with this pop up, when you see this you MUST allow the app to use your location. It is best to select the "Only While Using the App" option.</td>
      <td>After you have clicked an option from the pop up you will be presented with this message from Own Tracks. It explains how the app will work and once you have read this you can then press continue.</td>
      <td>Once you have pressed continue a map will come up showing your location, however the data of your location isnt currently being recorded. To change the settings so your locaton can be tracked you need to press the I in the top left corner.</td>
      <td>You will then be taken to this page there you will then press settings which is located under the status section.</td>
      
    </tr>
  
  </tbody>
</table>
<table width="1000" border="0">
  <tbody style="font-size:15px; font-family:Arial;">
    <tr>
      <td><img src="static/image6.png" width="250" height="444.666667" alt=""/></td>
      <td><img src="static/image7.png" width="250" height="444.666667" alt=""/></td>
      <td><img src="static/image8.png" width="250" height="444.666667" alt=""/></td>
      <td><img src="static/image9.png" width="250" height="444.666667" alt=""/></td>
    </tr>
    <tr>
      <td>Once this page has loaded, you will then need to change the mode, it will originally be set to public and youll need to change it to private.</td>
      <td>After the mode has been changed the page will then look like this where other settings will need to be changed. First you will need to change the host to iot.eclipse.org. Secondly change the Port to 1883, and thirdly turn the TLS and Authentication OFF.</td>
      <td>After you have made all of these changes the page should look like this and the data of your location will now be streamed to the website.</td>
      
    </tr>
  </tbody>
</table>


</body>
</html>